@import "src/index"

.discussButtonMobile
  width: 200px
  height: 45px
  background-color: transparent
  border: 1px $main-green-color solid
  border-radius: 30px
  @include text(14px, $main-green-color)
  offset: none


@media (max-width: 350px)
  .discussButtonMobile
    width: 57.14vw
    font-size: 4vw