@import "src/index"
.advantagesBody
  display: flex
  flex-direction: column
  margin: 0 20px


.advantagesSlash
  margin-bottom: 50px
  @include text(13px, white)
  text-align: center

.advantagesBigTitle
  text-align: center
  @include text(38px, white)
  margin-bottom: 20px
  line-height: 36px


.advantagesLittleTitle
  text-align: center
  @include text(13px, #B0B0B0)
  margin-bottom: 20px

.green
  color: $main-green-color


.advantagesTitleContent
  display: flex
  flex-direction: column


.advantageBlock
  background: linear-gradient(rgba(47, 47, 47, 0.2), rgba(91, 91, 91, 0.2))
  border: 1px rgba(47, 47, 47, 1) solid
  display: flex
  flex-direction: column
  width: 100%
  border-radius: 19px
  & img
    width: 100px



.advantageBlockText
  @include text(13px, white)



@mixin imageStyle($area, $direction, $padding, $height, $margin-left, $img-width, $text-width )
  grid-area: $area
  flex-direction: $direction
  & div
    height: $height
    margin-left: $margin-left
    & img
      width: $img-width
  & span
    padding: $padding
    width: $text-width


.advantagesBox
  display: grid
  width: 100%
  grid-column-gap: 10px
  grid-row-gap: 30px
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(3, 1fr)
  grid-template-areas: 'a a' 'b c' 'd e'


.advantageBlockChosen
  background: linear-gradient(rgba(47, 47, 47, 0.2), rgba(91, 91, 91, 0.2))
  border: 1px rgba(47, 47, 47, 1) solid
  display: grid
  grid-template-rows: repeat(2, 1fr)
  grid-template-columns: 2fr 1fr
  grid-template-areas: 'title i' 'text i'
  border-radius: 19px
  width: 100%
  grid-area: a
  & span:nth-child(1)
    grid-area: title
    @include text(16px, white)
    padding: 31px 0 0 15px
  & span:nth-child(2)
    grid-area: text
    @include text(12px, rgba(176, 176, 176, 1))
    padding: 10px 0 0 15px
    line-height: 15.6px
  & img
    grid-area: i
    margin-left: -20px
    width: 160px
    height: 161px
    transform: rotateZ(20deg)