@import "src/index"
.advantagesBody
  display: flex
  flex-direction: column
  margin: 0 20px 92px 20px


.advantagesSlash
  margin-bottom: 50px
  @include text(13px, white)
  text-align: center

.advantagesBigTitle
  text-align: center
  @include text(38px, white)
  margin-bottom: 20px
  line-height: 36px


.advantagesLittleTitle
  text-align: center
  @include text(13px, #B0B0B0)
  margin-bottom: 20px

.green
  color: $main-green-color


.advantagesTitleContent
  display: flex
  flex-direction: column

@media (max-width: 360px)
  .advantagesSlash
    font-size: 3.611vw
  .advantagesLittleTitle
    font-size: 3.611vw
  .advantagesBigTitle
    font-size: 10.555vw
    line-height: 10vw
@media (max-width: 270px)
  .advantagesLittleTitle
    font-size: 3vw


.advantageBlock
  background: linear-gradient(rgba(47, 47, 47, 0.2), rgba(91, 91, 91, 0.2))
  border: 1px rgba(47, 47, 47, 1) solid
  display: flex
  width: 100%
  border-radius: 19px
  & img
    width: 100px
    height: 100px
    float: right

.common
  flex-direction: column
  & span
    padding: 0 0 12px 12px

.reverse
  flex-direction: column-reverse
  & span
    padding: 12px 0 0 12px

.advantageBlockText
  @include text(13px, white)
  line-height: 14.3px


.advantagesBox
  display: grid
  width: 100%
  grid-column-gap: 10px
  grid-row-gap: 10px
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: auto 1fr 1fr
  grid-template-areas: 'a a' 'b c' 'd e'


.advantageBlockChosen
  background: linear-gradient(rgba(47, 47, 47, 0.2), rgba(91, 91, 91, 0.2))
  border: 1px rgba(47, 47, 47, 1) solid
  display: grid
  grid-template-rows: repeat(2, auto)
  grid-template-columns: 2fr 1fr
  grid-template-areas: 'title i' 'text i'
  border-radius: 19px
  width: 100%
  grid-area: a
  & span:nth-child(1)
    grid-area: title
    @include text(16px, white)
    padding: 31px 0 0 15px
  & span:nth-child(2)
    grid-area: text
    @include text(12px, rgba(176, 176, 176, 1))
    padding: 10px 0 30px 15px
    line-height: 15.6px
  & img
    grid-area: i
    margin-left: -20px
    width: 160px
    height: 161px
    transform: rotateZ(20deg)


@media (max-width: 359px)
  .advantageBlockChosen
    & span:nth-child(1)
      @include text(4.44vw, white)
      padding: 31px 0 0 4.166vw
    & span:nth-child(2)
      @include text(3.333vw, rgba(176, 176, 176, 1))
      padding: 10px 0 30px 4.166vw
      line-height: 4.333vw
    & img
      margin-left: -5.555vw
      width: 44.444vw
      height: 44.444vw
  .advantageBlockText
    @include text(3.611vw, white)
    line-height: 3.872vw
  .advantageBlock
    & img
      width: 27.777vw
      height: 27.777vw
  .common
    & span
      padding: 0 0 12px 3.333vw
  .reverse
    & span
      padding: 12px 0 0 3.333vw