@font-face {
  font-family: 'Muller';
  src: local('Muller Light'), local('Muller-Light'),
  url('/fonts/Muller/MullerLight.woff2') format('woff2'),
  url('/fonts/Muller/MullerLight.woff') format('woff'),
  url('/fonts/Muller/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-display: optional;
  font-style: normal;
}


@font-face {
  font-family: 'Muller';
  src: local('Muller Ultra Light'), local('Muller-Ultra-Light'),
  url('/fonts/Muller/MullerUltraLight.woff2') format('woff2'),
  url('/fonts/Muller/MullerUltraLight.woff') format('woff'),
  url('/fonts/Muller/MullerUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: optional;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: local('Muller Regular'), local('Muller-Regular'),
  url('/fonts/Muller/Muller-Regular.woff2') format('woff2'),
  url('/fonts/Muller/Muller-Regular.woff') format('woff'),
  url('/fonts/Muller/Muller-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: optional;
  font-style: normal;
}
