.circleBody
  overflow-x: hidden
  padding: 0 11.5vw
  display: flex
  justify-content: space-between
  align-items: center
  height: 26.25vw

.animate
  & .circleBox
    animation: moveLeft forwards 1s ease
  & .circleSVG
    animation: forwards 1.5s draw ease
  & .imageBox
    animation: forwards imgShow 1s


.circleBox
  height: 26.25vw
  position: relative
  display: flex
  align-items: center
  justify-content: center





.imageBox
  width: 13.54vw
  height: 13.54vw
  opacity: 0
  transform: translateY(-5vw)

.circleSVG
  width: 25vw
  margin: auto
  stroke-width: 1
  fill: transparent
  stroke-dasharray: 0 628


.svgBody
  position: absolute
  width: 25vw

@keyframes draw
  from
    stroke-dasharray: 0 628
  to
    stroke-dasharray: 628 0

@keyframes imgShow
  from
    opacity: 0
    transform: translateY(-5vw)
  to
    opacity: 1
    transform: translateY(0)

@keyframes moveLeft
  from
    transform: translateX(100vw)
  to
    transform: translateX(0)