body {
  margin: 0;
  background-color: black;
  &::-webkit-scrollbar {
    width: 0;
  }
}

$main-green-color: #00FF0A;
$main-gray-color: #B3B3B3;

@mixin text($size, $color) {
  color: $color;
  font-family: "Muller";
  font-weight: 200;
  font-size: $size;
}

.changed {
  animation: closeScreen 3s
}

@keyframes openScreen {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes closeScreen {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mobilePageChanger-enter{
  animation: openScreen 0.5s ease
}


.mobilePageChanger-exit {
  animation: closeScreen 0.5s ease forwards;
}
